body{
    font-family: Montserrat;
    font-size: 16px;
  
}

h1{
    font-size: 32px;
}

a{
    text-decoration: none;

}

section, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
 
}


.pfp{
    max-width: 180px;
    height: auto;
    border-radius: 50%;
    margin-top: 40px;
}

section.header img{
    max-width: 100px;
    
    border-radius: 50%;
}

section.links .link-item {
    width: 100%;
    margin-bottom: 16px;
}

section.links .link-item a{
    display: block;
    width: 100%;
    border: 1px #000 solid;
    padding: 16px 0;
    text-align: center;
    color: #000;
    border-radius: 180px;
    box-shadow: 4px 4px rgb(0, 0, 0);
    background-color: #87CEEB;
}

section.links .link-item a:hover{
    animation: shake 0.15s infinite;
}

@keyframes shake{
    0% {
        transform: translateX(-5px);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(-5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}